.container {
  display: grid;
  grid-template-columns: 2% 90% 5%;
  grid-gap: 1%;
  border : solid 1px;
}

#header {
  grid-column-start: 2;
  grid-column-end: span 2;
  border : solid 1px;
}

#navigation {
  grid-column-start: 2;
  grid-column-end: span 2;
  border : solid 1px;
}

#maincontent {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 70% 27%;
  grid-gap: 3%;
  border : solid 1px;
}

#primary {
  display: grid;
  grid-template-columns: 2% 30% 30% 30% 5%;
  grid-gap: 1%;
  border : solid 1px;
}

#inside-primary-left {
  grid-column-start: 2;
  border : solid 1px;
}

#inside-primary-middle {
  grid-column-start: 3;
  border : solid 1px;
}

#inside-primary-right {
  grid-column-start: 4;
  border : solid 1px;
}

#secondary {
  grid-column-start: 2;
  border : solid 1px;
}

#footer {
  grid-column-start: 2;
  border : solid 1px;
}