.container {
  display: grid;
  grid-template-columns: 2% 70% 23% 2%;
  grid-gap: 1%;
  border : solid 1px;
  color: #13696E;
  font-size: 20px;
}

h3 {
  color:black;
}

#header {
  grid-column-start: 2;
  grid-column-end: span 2;
  border : solid 1px;
  /* margin-left: 30px; */
  /* background-color: ; */
}

#header-top-left {
  grid-column-start: 2;
  grid-column-end: span 2;
  border : solid 1px;
}

#header-right {
  grid-column-start: 4;
  grid-column-end: span 1;
  border : solid 1px;
}

#navigation {
  grid-column-start: 1;
  grid-column-end: span 4;
  border : solid 1px;
  background-color: #74C043;
  font-size: 20px;
  font-family:'sans-serif';
  font-weight: bold;
  
}

#primary {
  grid-column-start: 2;
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: 1% 18% 18% 18% 18% 20%;
  grid-gap: 1%;
  border : solid 1px;
}

#inside-primary-left {
  grid-column-start: 2;
  border : solid 1px;
}

#inside-primary-middle-left {
  grid-column-start: 3;
  border : solid 1px;
}

#inside-primary-middle-right {
  grid-column-start: 4;
  border : solid 1px;
}

#inside-primary-right {
  grid-column-start: 5;
  border : solid 1px;
}

#secondary {
  grid-column-start: 6;
  display: grid;
  grid-template-columns: 3% 94% 3% ;
  grid-gap: 1%;
  border : solid 1px;
}

#secondary-top {
  grid-column-start: 2;
  border : solid 1px;
}

#secondary-bottom {
  grid-column-start: 2;
  border : solid 1px;
}

#footer {
  grid-column-start: 1;
  grid-column-end: span 4;
  border : solid 1px;
  font-family: cursive;
}

#page-header {
  grid-column-start: 2;
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: 1% 48% 24% 24%;
  grid-gap: 1%;
  border : solid 1px;
}

#inside-header-right-top {
  grid-column-start: 2;
  border : solid 1px;
  margin-bottom: 80px;
  margin-left: auto;
}

#inside-header-right-bottom {
  grid-column-start: 2;
  border : solid 1px;
  margin-left: auto;
}

#page-primary {
  grid-column-start: 2;
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: 1% 48% 49%;
  grid-gap: 1%;
  border : solid 1px;
}

#inside-page-header-left {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1%;
  border : solid 1px;
}

#inside-page-header-grid-left {
  grid-column-start: 1;
  border : solid 1px;
  margin:auto
  
}

#inside-page-header-grid-right {
  grid-column-start: 2;
  border : solid 1px;
  margin:auto
   
}

#middle-of-page {
  grid-column-start: 2;
  grid-column-end: span 2;
  border : solid 1px;
  margin: auto;
  font-family: cursive;
}

#inside-page-primary {
  grid-column-start: 2;
  grid-column-end: span 2;
  border : solid 1px;
  margin: auto;
}


#page-footer {
  grid-column-start: 1;
  grid-column-end: span 4;
  border : solid 1px;
  /* margin: auto; */
  font-family: cursive;
}


