.small-right-img {
  width: 75px;
  float: right;
  margin: 5px;
}

.medium-right-img {
  width: 150px;
  float: right;
  margin: 10px;
}

.medium-left-img {
  width: 100%;
  float: left;
  margin: 10px;
}

.small-left-img {
  width: 50px;
  float: left;
  margin: 10px;
}

.shopping-list-img {
  width: 70%;
  float: top;
  margin: 10px;
}

.large-left-img {
  width: 250px;
  float: left;
  margin: 10px;
}

.small-centre-img {
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto
}

.medium-centre-img {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto
}

.large-centre-img {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto
}
