ul#menu li {
  display: inline;
  float: center;
  padding-right: 5em;
  padding-left: 5em;
}

ul#menu a {
  text-decoration: none;
  
}

#menu li.active a {
  background: black;
  padding: .5em 2em .5em 2em;
  color: white;
}
