h2 {
  color:rgba(255, 0, 0, 0.971);
  font-size: 1.2em;
}

h3 {
  color:black;
  font-size: 1.2em;
}

h4 {
  text-decoration-line: underline;
  font-size: 1em;
}

body{
  font-size: 100%;
  font-family: 'sans-serif', Tahoma, Verdana;
  /* background-color: rgb(248, 247, 251); */
}

.container {
  display: grid;
  grid-template-columns: 3% 70% 23% 2%;
  grid-gap: 1%;
  border : solid 1px;
  color: #0e5155;
  font-size: 1em;
  background-color: rgb(60, 143, 52);
}

#header {
  grid-column-start: 2;
  grid-column-end: span 2;
  border : solid 1px;
  margin-right: 24px;
  /* background-color: ; */
}

#navigation {
  grid-column-start: 1;
  grid-column-end: span 3;
  /* border : solid 1px; */
  /* background-color: #74C043; */
  font-size: 1.5em;
  font-weight: bold;
  
}

#primary {
  grid-column-start: 2;
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: 1% 18% 18% 18% 18% 19% 3%;
  grid-gap: 1%;
  border : solid 1px;
  margin-right: 24px;
}

#inside-primary-left {
  grid-column-start: 2;
  border : solid 1px;
}

#inside-primary-middle-left {
  grid-column-start: 3;
  border : solid 1px;
}

#inside-primary-middle-right {
  grid-column-start: 4;
  border : solid 1px;
}

#inside-primary-right {
  grid-column-start: 5;
  border : solid 1px;
}

#secondary {
  grid-column-start: 6;
  display: grid;
  grid-template-columns: 3% 94% 3% ;
  grid-gap: 1%;
  border : solid 1px;
}

#secondary-top {
  grid-column-start: 2;
  border : solid 1px;
}

#secondary-bottom {
  grid-column-start: 2;
  border : solid 1px;
}

#footer {
  grid-column-start: 1;
  grid-column-end: span 4;
  border : solid 1px;
  font-family: cursive;
}

.page-container {
  display: grid;
  grid-template-columns: 1% 70% 23% 2%;
  grid-gap: 1%;
  border : solid 1px;
  color: #0e5155;
  font-size: 1em;
  background-color: rgb(60, 143, 52);
}

#page-navigation {
  grid-column-start: 1;
  grid-column-end: span 3;
  /* border : solid 1px; */
  /* background-color: #74C043; */
  font-size: 1.5em;
  /* font-family: sans-serif, Tahoma, Verdana; */
  font-weight: bold;
}

#page-header {
  grid-column-start: 2;
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: 1% 48% 24% 24%;
  grid-gap: 1%;
  /* border : solid 1px; */
}

#page-header-left {
  grid-column-start: 2;
  grid-column-end: span 2;
  border : solid 1px;
  background-color: rgb(190, 243, 185);
}

#page-header-right {
  grid-column-start: 4;
  grid-column-end: span 1;
  border : solid 1px;
  background-color: rgb(190, 243, 185);
}

#inside-header-right-top {
  grid-column-start: 2;
  /* border : solid 1px; */
  margin-bottom: 80px;
  margin-left: auto;
}

#inside-header-right-bottom {
  grid-column-start: 2;
  border : solid 1px;
  margin-left: auto;
}

#inside-page-header-left {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1%;
  border : solid 1px;
}

#inside-page-header-grid-left {
  grid-column-start: 1;
  border : solid 1px;
  margin:auto
  
}

#inside-page-header-grid-right {
  grid-column-start: 2;
  border : solid 1px;
  margin:auto
   
}

#middle-of-page {
  grid-column-start: 2;
  grid-column-end: span 2;
  border : solid 1px;
  margin-left: 29px;
  font-family: cursive;
  background-color: rgb(190, 243, 185);
}

#page-primary {
  grid-column-start: 2;
  grid-column-end: span 2;
  /* display: grid;
  grid-template-columns: 1% 48% 49%;
  grid-gap: 1%;
  border : solid 1px; */
  margin-left: 30px;
  background-color: rgb(190, 243, 185);
}

#page-footer {
  grid-column-start: 1;
  grid-column-end: span 4;
  border : solid 1px;
  /* margin: auto; */
  font-family: cursive;
}




