h2 {
  color:rgba(207, 0, 0, 0.971);
  font-size: 1.2em;
}

h3 {
  color:black;
  font-size: 1.2em;
}

h4 {
  text-decoration-line: underline;
  font-size: 1em;
}

body{
  font-size: 100%;
  font-family: 'sans-serif', Tahoma, Verdana;
}

